%section.graph-container.closed{id: "graph_container_#{element_id}"}
  .btn-group.pull-right.date-scale{data: {toggle: 'buttons-radio'}}
    %button.active.button{type: "button", data: {aggregate: 'day', 'redraw-graph'=>true}} day
    %button.button{type: "button", data: {aggregate: 'week', 'redraw-graph'=>true}} week
    %button.button{type: "button", data: {aggregate: 'month', 'redraw-graph'=>true}} month
  .btn-group.pull-right
    %button.button.btn-info{type: "button", data: {'hide-graph'=>true}} Hide

  %h2.graph-title
  .graph{id: "graph_#{element_id}"}
