@import "mixins"
/* spark lines */
.widget
  background-color: #fafafa
  border: 1px solid #d9d9d9
  cursor: pointer
  height: 75px
  margin-bottom: 20px
  overflow: hidden
  position: relative
  padding: 20px 0
  min-height: 75px

  .data
    padding: 0 15px

    .content
      font-size: 2em
      font-weight: 400
      width: 96%
      margin-bottom: 5px

    .title
      font-size: 1em
      width: 100%

  &:hover
    background-color: #f0f0f0

  &.current
    border-color: #c2c2c2
    border-width: 3px

  &.coming-soon, &.no-data
    border-style: dashed
    border-color: #cacaca
    height: auto
    &:hover
      background-color: #fafafa
    .data
      .content
        color: #d14949
        font-size: 1em
        font-weight: 500
        line-height: 2.0
      .title
        padding-bottom: 5px
  &.empty
    cursor: default
    &:hover
      background-color: #fafafa

  &.coming-soon
    cursor: default
    padding: 20px 0
    &.clicked
      background-color: #fafafa
      cursor: default
      &:hover
        background-color: #fafafa
  &.connected-no-data
    cursor: default
    &:hover
      background-color: #fafafa


  &.no-data
    .content
      margin-bottom: 0
      a
        color: #515151
        text-decoration: underline
    span
      display: inline-block
      text-decoration: underline
      line-height: 1.1
