.graph
  clear: both
  background: $graph_background_color
  rect
    fill: #ccc
    stroke-width: 0
    stroke: none
    &:hover
      fill: $graph_bar_hover_color
    &.stackedbar:hover
      fill: $graph_bar_hover_color !important

  text
    font-family: 'Helvetica'
    fill: #aaa
    &.graph-title
      stroke: none
      stroke-width: 0
      font-size: 14pt
  rect.graph-title-box
    fill: #efefef
    stroke-width: 0
    stroke: none
    &:hover
      fill: #efefef

  path
    fill: none
    stroke-width: 5
    &.moving-average
      stroke: steelblue
    &.legend-moving-average
      stroke-width: 5
      stroke: steelblue

  #graph_data_lines
    stroke: $graph_bar_hover_color

  .axis text
    stroke: #666
    font-size: 11px
    opacity: 0.7
    fill: $graph_text_color

  .axis path, .axis line
    fill: none
    stroke: none
    shape-rendering: crispEdges

  .grid .tick
    stroke: #d7d7d7
    opacity: 0.7

  .grid
    path
      stroke-width: 0
    line
      stroke-width: 1

  .domain, .tick text
    stroke-width: 1

  .tick text
    color: #767676
    font-weight: 300

  circle
    fill: #fff
    stroke-width: 4
    stroke: $graph_bar_hover_color

  #graph_data_lines
    fill: none
    stroke: #d04b44
    stroke-width: 4

  .data_point
    stroke: #d04b44
    stroke-width: 4
    fill: #fff

  .data_point:hover
    cursor: pointer
    stroke: #781918

  .tooltip
    position: absolute
    color: white
    width: 100px
    height: 1.3em
    background: #232323

  .tooltip div
    float: left

  .tooltip .divider
    margin: 0 8px
    height: 2.5em
    width: 1px
    display: block
    background: white

  #metric-label
    fill: #555
    font-size: 18px

.tooltip
  font-size: 14px
  font-weight: 300
  &.in
    opacity: 1
  .tooltip-inner
    padding: 20px
    background-color: $graph_tooltip_background_color
    word-wrap: break-word
  .tooltip-arrow
    border-top-color: $graph_tooltip_background_color
