.main
  .graph-title
    font-weight: 500
    margin-bottom: 40px
    padding-left: 20px
  section
    &.graph-container
      border-bottom: 0
      max-height: 400px
      padding-left: 0
      padding-right: 0
      padding-bottom: 30px
      -webkit-transition: max-height 500ms ease-out, padding-top 500ms ease-out
      -moz-transition: max-height 500ms ease-out, padding-top 500ms ease-out
      transition: max-height 500ms ease-out, padding-top 500ms ease-out
      .btn-group
        margin-right: 10px
      &.closed
        max-height: 0
        padding-bottom: 0
        padding-top: 0
      .date-scale
        margin-right: 10px

  .note-bene
    padding: 0
    font-size: 1em
    margin-bottom: 20px